h1 {
    font-size: 6.5em;
    font: bold;
    font-style: Helvetica;
    text-align: center;
}
h2 {
  font-size: 3em;
  font-style: normal;
}

h3 {
  font-size: 1em;
  font-style: normal;
}


.top_border {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #DDEEEE; 
    width: 100%; 
}



.box {
    margin-top: 30%;
    width: 40%;
    height: 200px;
    background: black;
    border-radius: 2px;
    padding: 10px;
    color: white;
    text-align: center;
    z-index: -1;
    position:relative;
  }
  .item {
    width: 30%;
    height: 40%;
    margin: 75px auto;
    padding-top: 75px;
    padding-left: 0%;
    background: black;
    text-align: center;
    color: #FFF;
    font-size: 3em;
    z-index: -1;
    position:relative;
  }
